/SPServices/.vs/
/SPServices/SharePointService2016/SPService2016/obj/
/SPServices/SharePointService2016/SPServiceClient/obj/
/SPServices/SharePointService2016/SPServiceContract/obj/
/SPServices/SharePointService2016/SPServiceModel/obj/
