<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="WCFBaseAddress_Site" value="http://localhost:50094/SSOMSite.svc"/>
    <add key="Username" value="$spanalytics001"/>
    <add key="UserDomain" value="americas"/>
    <add key="UserPassword" value="car.can-58"/>
  </appSettings>
</configuration>